<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <side-bar></side-bar>
  </mat-drawer>

  <div class="outputs">

    <div class="header">
      <h3 class="dashboard poppins-semibold" [contentEditable]="true">Dashboard Name</h3>
      <div class="avatar">
        <img src="assets/images/Blank-Avatar.png" alt="">
      </div>
    </div>

    @if(isDashboard) {
    <div>
      <app-bar-chart></app-bar-chart>
      <app-pie-chart></app-pie-chart>
      <app-line-chart></app-line-chart>
    </div>
    } @else {
    <div>
      <div class="d-flex align-items-center h-100 w-100 justify-content-center">
        <img src="assets/images/Analytics 1.svg" alt="">
      </div>

      <div class="d-flex align-items-center h-100 w-100 justify-content-center">
        <button mat-raised-button class="w-25" (click)="openDialog()">
          Upload data to view dashboard
        </button>
      </div>
    </div>
    }

  </div>

</mat-drawer-container>